version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.15.3

    working_directory: /tmp/reducks

    steps:
      - checkout

      - restore_cache:
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm install

      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules

      - run: npm run lint
      - run: npm test
      - run: npm run build
